#root {
    .profile-page {
        &>.profile-section {
            &>.user-profile-wrapper {
                display: flex;
                column-gap: 20px;
                padding-left: 150px;
                padding-bottom: 32px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.5);
                box-sizing: border-box;

                &>.user-avatar {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }

                &>.user-info {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    &>.user-name {
                        font-size: 30px;
                        font-weight: 700;
                    }

                    &>.user-nickname {
                        opacity: 0.6;
                        font-weight: 700;
                    }

                    &>.info-edit-link {
                        a {
                            opacity: 0.6;
                            color: white;
                            font-weight: 700;
                        }
                    }
                }
            }

            &>.user-videos-wrapper {
                padding-top: 22px;
                padding-left: 30px;
                box-sizing: border-box;

                &>.videos-title {
                    font-size: 30px;
                    font-weight: 700;
                }

                &>.videos-wrapper {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    column-gap: 12px;

                    &>.video-container {
                        &>.video {
                            height: 174px;
                            border-radius: 15px;
                        }

                        &>.video-info {
                            position: relative;

                            &>.video-title {
                                font-size: 15px;
                            }

                            &>.container {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding-right: 20px;
                                box-sizing: border-box;

                                &>.ellipsis-svg {}

                                &>.ellipsis-svg {
                                    cursor: pointer;
                                }


                            }

                            &>.ellipsis-wrapper {
                                width: 66px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                background-color: rgba(0, 0, 0, 0.5);
                                position: absolute;
                                right: 20px;

                                div {
                                    width: 100%;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid rgba(255, 255, 255, 0.4);
                                }
                            }
                        }
                    }

                    &>.no-video {
                        color: white;
                        margin: 0 auto;
                        padding-top: 25px;
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}