#root{
    .auth-input{
        border:2px solid grey;
        padding:5px;
        box-sizing:border-box;
        border-radius: 8px;
        color:white;
        width: 350px;;
        height:50px;
    }
    
}