#root .video-lists-wrapper {
  width: 100%;
}
#root .video-lists-wrapper > .video-detail-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-bottom: 38px;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box > .video {
  height: 174px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box > .content-wrapper > .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box > .content-wrapper > .profile-wrapper > .profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box > .content-wrapper > .profile-wrapper > .meta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box > .content-wrapper > .profile-wrapper > .meta-wrapper > .video-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box > .content-wrapper > .profile-wrapper > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 200px;
  height: 20px;
  color: red;
  font-weight: 800;
}
#root .video-lists-wrapper > .video-detail-wrapper > .detail-box > .content-wrapper > .source {
  font-size: 14px;
  color: rgba(170, 170, 170, 0.6666666667);
  font-weight: 700;
}