#root {
    .video-lists-wrapper {
        width: 100%;

        &>.video-detail-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 12px;

            &>.detail-box {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-bottom: 38px;

                &>.video {
                    height: 174px;
                    border-radius: 10px;
                    object-fit: cover
                }

                &>.content-wrapper {

                    &>.profile-wrapper {
                        display: flex;
                        align-items: center;
                        column-gap: 14px;

                        &>.profile-avatar {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: gray;
                        }

                        &>.meta-wrapper {
                            display: flex;
                            column-gap: 5px;
                            font-size: 14px;
                            // color: #AAAA;
                            flex-direction: column;

                            &>.video-view {
                                display: flex;
                            }
                        }

                        &>.title {
                            overflow: hidden; // 을 사용해 영역을 감출 것
                            text-overflow: ellipsis; // 로 ... 을 만들기 
                            white-space: nowrap; // 아래줄로 내려가는 것을 막기위해
                            word-break: break-all;
                            width: 200px;
                            height: 20px;
                            color: red;
                            font-weight: 800;
                        }
                    }

                    &>.source {
                        font-size: 14px;
                        color: #AAAA;
                        font-weight: 700;
                    }


                }
            }
        }
    }
}