#root {
    .header {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        &>.wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;



            &>.logo-wrapper {
                display: flex;
                align-items: center;
                column-gap: 8px;

                &>.menu-svg {
                    width: 27px;
                    height: 27px;
                    cursor: pointer;

                    &:hover {}

                }

                &>.logo {

                    a {
                        display: flex;
                        align-items: center;

                        &>.youtube-logo {
                            width: 38px;
                            height: 38px;
                            color: red;
                        }

                        &>.title {
                            font-size: 17px;
                            font-weight: 700;
                            // color: white;

                        }
                    }


                }
            }



            &>.search-wrapper {
                position: relative;

                &>.search-input {
                    width: 350px;
                    height: 38px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 20px;
                    padding-left: 12px;
                    font-size: 15px;
                    outline: none;
                }

                &>.glass-svg {
                    position: absolute;
                    top: 10px;
                    color: rgba(0, 0, 0, 0.3);
                    right: 12px;
                }
            }

            &>.profile-wrapper {
                display: flex;
                align-items: center;
                column-gap: 8px;

                &>.user-nmae {
                    color: white;
                    font-size: 17px;
                    font-weight: 700;
                    ;
                }

                &>.profile-avatar {
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid #AAA;

                    }

                    .login-btn {
                        width: 120px;
                        height: 32px;
                        border: none;
                        cursor: pointer;
                        color: white;
                        border-radius: 20px;
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }
}