#root .header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
#root .header > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
}
#root .header > .wrapper > .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
#root .header > .wrapper > .logo-wrapper > .menu-svg {
  width: 27px;
  height: 27px;
  color: white;
  cursor: pointer;
}
#root .header > .wrapper > .logo-wrapper > .menu-svg:hover {
  color: rgba(255, 255, 255, 0.5);
}
#root .header > .wrapper > .logo-wrapper > .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#root .header > .wrapper > .logo-wrapper > .logo a > .youtube-logo {
  width: 38px;
  height: 38px;
  color: red;
}
#root .header > .wrapper > .logo-wrapper > .logo a > .title {
  font-size: 17px;
  font-weight: 700;
  color: white;
}
#root .header > .wrapper > .search-wrapper {
  position: relative;
}
#root .header > .wrapper > .search-wrapper > .search-input {
  width: 350px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  color: white;
  padding-left: 12px;
  font-size: 15px;
  outline: none;
}
#root .header > .wrapper > .search-wrapper > .glass-svg {
  position: absolute;
  top: 10px;
  right: 12px;
  color: white;
}
#root .header > .wrapper > .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
#root .header > .wrapper > .profile-wrapper > .user-nmae {
  color: white;
  font-size: 17px;
  font-weight: 700;
}
#root .header > .wrapper > .profile-wrapper > .profile-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #AAA;
}
#root .header > .wrapper > .profile-wrapper > .profile-avatar .login-btn {
  width: 120px;
  height: 32px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}